/*------------------ ELEMENTOS GENERALES ---------------------------*/

:root{ /* root no está en el html pero sirve para agregar customizes*/
    /* COLORES */
    --white:  #FFFFFF;
    --black:  #212121;
    --blue:   #009988;
    --gray:   #757575;
    --orange: #FFC107;
    --blueM:  #3633ff;
    --red:    #ff333d;
    --brown:  #804000;
    --beige:  #cece78;
    --brownL: #A18262; 
    --copy:   #000080;
    --cream:  #ffffbf; 
    --purple: #78288C;

    /* FUENTES */
}

html{ /* Colocamos un tamaño estándar de letra para nuestra página web*/
    font-size: 62.5%;
    box-sizing: border-box; /* Código para evitar problemas con el box model de CSS, se pone para no tener problemas con el padding*/
    scroll-snap-type: y mandatory; /* Da la apariencia de scroll a nuestra página web */
}

/* Código para evitar problemas con el box model de CSS: */
*, *:before, *:after{
    box-sizing: inherit;
}
/* Termina el código para evitar problemas con el box model de CSS: */

body{
    font-size: 16px; /* Colocamos un tamaño estándar de letra para nuestra página web 1rem=10px*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;/*"Font Awesome 6 Pro"; /*"DM Serif Text", serif;*/
    background-color: var(--white);
    /*background-image: linear-gradient(to top, var(--black) 100%, var(--white) 0%);*/
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    align-items: center;
}

.boton{
    background-color: var(--orange);
    color: var(--white);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase; /* Convierte todo a mayúsculas */
    font-weight: bold;
    border-radius: .5rem; /* Redondea las esquinas del botón */
    /*width: 90%;
    text-align: center;*/
}

.boton:hover{ /* Pedazo de código para que aparezca la manita sobre el botón*/
    cursor: pointer; 
}

@media (min-width: 768px) { /* Resolución para una tablet */
    .boton{
        width: auto;
        text-align: center;
    }
}

p{
    text-align: center;
}

/*.contenedorsombra{
    -webkit-box-shadow: 15px 17px 9px 11px rgba(0,0,0,0.7);
    -moz-box-shadow: 15px 17px 9px 11px rgba(0,0,0,0.7);
    box-shadow: 15px 17px 9px 11px rgba(0,0,0,0.7);

    margin: 0 auto;
}*/

/**----- Segundo botón ------**/


/*-------------------------- Alineación de servicios -------------------------*/
/*---- Añadiendo scroll a los servicios ------*/
/*.servicios, .navegacion-principal, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always; /* Con esto le decimos que queremos que se detenga siempre en servicios al hacer scroll*/
/*}*/

@media (min-width: 768px) { /* Resolución para una tablet */
    .servicio{
        display: grid; /*Añade todas las caracteristicas de CSS grid*/
        grid-template-columns: repeat(3, 1fr); /* Creación de las columnas */
        column-gap: 10rem; /* Separación entre columnas*/
    }
}

/*-------------------------- UTILIDADES ------------------------------*/
@media (min-width: 768px){
    .w-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alineacion{
    justify-content: right;
}

/*--------------------------- TÍTULOS --------------------------------*/

.titulo{ /* Modificaciones para el: pl tronic's*/
    text-align: center;
    font-size: 3rem;
    color:var(--black);
    font-family: "DM Serif Text", serif; /*"Montserrat", sans-serif;*/
    font-weight: 400;
    font-style: normal;
}

.titulo span{ /* Modificaciones para el: tu sello de calidad. h1 span aplica para solo ese span, 
                 si usaramos solo span se modifican todos los span*/
    font-size: 2.5rem;
    color: var(--black);
    font-family: "Playwrite CU", cursive;
    font-weight: 400;
}

.empresa{
    font-size: 7rem;
}

.titulomisservicios{
    display: grid; /*Añade todas las caracteristicas de CSS grid*/
    grid-template-columns: repeat(1, 1fr); /* Creación de las columnas */
    /*column-gap: 1000rem; /* Separación entre columnas*/
    text-align: center;
    font-size: 2.5rem;
}

/*------------------ BARRA DE NAVEGACIÓN ---------------------------*/
.contenedor{
    max-width: 120rem;
    margin: 0, 0;
    text-align: center;
}

.nav-background{
    background-color: var(--black); /* Da color a toda la barra de arriba */
    /*position: fixed;*/
}

.navegacion-principal{
    /* A continuación, se acomoda el texto de la barra de hasta arriba (CON FLEXBOX) (aqui se tiene control de los titulos de hasta arriba)*/
    display: grid; /*Añade todas las caracteristicas de CSS grid*/
    grid-template-columns: repeat(3, 1fr); /* Creación de las columnas */
}

.navegacion-principal a{
    margin: 10rem, 10rem;
    display:block;
    text-align: center;
    padding: 0.5rem; /* Dibuja el cuadro que aparece al seleccionar un parametro de la navegación */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color:var(--white);    /* Esto le da color a las letras */
    font-size: 2rem;
}

/* Trabajamos ahora en el color de fondo que se dispara al seleccionar algún parametro de la navegación*/
.navegacion-principal a:hover{
    /*background-color: var(--orange);*/
    color: var(--orange);
}

/* DIFERENTES TAMAÑOS PARA DIFERENTES DISPOSITIVOS 

480px ---> Celulares
768px ---> Tablets
1140px --> Laptops y computadoras de escritorio
1400px --> Computadoras
*/


@media (min-width: 768px) { /* Resolución para una tablet */
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}


/*--------------------------- IMAGENES --------------------------------------*/
.imagen{
    background-image: url("imagenes/pltron.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20%cqmax;
    background-size: 80rem;
    background-size: cover; /*Para que cubra todo el espacio la imagen*/
    height: 400px;
    position: relative; /* El padre siempre debe tener posición relativa*/
    margin-bottom: 2rem;
}

.contenido-imagen{
    position: absolute;
    background-color: rgba(0,0,0, 0.6);
    width: 100%;  /* Extiende la sombra al máximo posible */
    height: 100%; /* Extiende la sombra al máximo posible */

    /* Texto centrado vertical y horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-imagen h2, .contenido-imagen p{
    color: var(--white);
}

/*--------------------------- UBICACIÓN --------------------------------------*/
.ubicacion{
    display:flex;    /* Por defecto display flex hace que se coloquen juntos */
    align-items:end; /* Alinea verticalmente */
    color: var(--white);
}

/*------------------------- ICONOS DE LOS SERVICIOS -------------------------*/
.servicios{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.servicios h4{
    color: var(--black);
    font-size: 2rem;
}

.servicios p{
    line-height: 2rem;
}

.servicios .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--orange);
    border-radius: 50%; /* Creación del círculo */
    /*------- Alineación de los iconos dentro del círculo ------*/
    display: flex;
    justify-content: center; /* SIRVE PARA ALINEAR CUANDO su padre es un dispplay flex*/
    align-items: center;
}

/*---------------------------- FORMULARIO ------------------------------*/
/*.formularioGeneral{
    background-color: var(--orange);
}*/

.formulario{
    background-color: var(--brownL);
    width: min(60rem, 100%); /* Utiliza el valor más pequeño */
    margin: 0 auto; /* (ALINEA HORIZONTALMENTE) Usamos magin para centrar CUANDO su padre no es un display flex*/
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.formulario fieldset{
    border:none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    /*color: var(--orange)*/
}

.campo{
    margin-bottom: 1rem;
}

@media (min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3), .campo:nth-child(4){ /* Ajustar la posición de los rectaángulos balncos de los campos*/
        grid-column: 1 / 3;
    }
}

/*.contenedor-campos{
    margin-bottom: 1rem;
    font-weight: bold;
    display: block; /* Toma todo el espacio disponible para extender lo blanco 
    grid-template-columns: repeat(2, 1fr);
}*/

.campo textarea{
    height: 10rem;
    /*width: 60rem;*/
}

.input-text{
    width: 100%;
    border: none;
    padding: 1rem; /* Aumenta el grosor de los rectangulos blancos */
    border-radius: .5rem;
}

/*---------------------------- FOOTER ----------------------------------*/
.footer{
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    margin: 8rem, 8rem;
    display:block;
    text-align: center;
    padding: 0.5rem; /* Dibuja el cuadro que aparece al seleccionar un parametro de la navegación */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color:var(--white);    /* Esto le da color a las letras */
    font-size: 2rem;
}

/*---------------------- COMENZANDO CON NOSOTROS ----------------------*/

/*-------------------------- imagen de fondo --------------------------*/

.sobreNosotros{ /* Cuenta como el body de Sobre Nosotros*/
    background-color: var(--black);
    /*background-image: url(imagenes/pltron.jpeg);
    /*background-image: linear-gradient(to top, var(--gray) 100%, var(--white) 0%);*/
    /*background-repeat: no-repeat;
    background-size: cover;*/
}

/*------------------------ negro de fondo --------------------------------*/

/*.contenedorInicio{
    position: absolute;
    background-color: rgba(0,0,0, 0.6);
    width: 100%;  /* Extiende la sombra al máximo posible */
    /*height: 100%; /* Extiende la sombra al máximo posible */
/*}

/*---------------------- titulo de sobre nosotros -------------------------*/

.sobreNosotros_texto{
    text-align: center;
    color: var(--orange);
    /*font-family: "Pacifico", cursive;*/
}

/*------------------------*/
@media (min-width: 768px){
    .nuestraChamba{
        display: grid;
        grid-template-columns: repeat(2, 10fr); /* Hacemos dos columnas */
        column-gap: 2rem; /* Crea un espacio entre el texto y la imagen de 2 rem */
        margin-left: 10rem;
    }

    .nosotros_texto{
        margin-top: 7rem;   
    }
}

.nosotros_texto{
    text-align: center;
    color: var(--white);
    font-size: 1.8rem;
}

.nosotros_slogan{
    color: var(--white);
}

.nuestraChamba__contenido{

}

.nuestraChamba__imagen{
    height: 30rem;
    width: 50rem;
    align-items: center;
}



/*------------------------ ¿Por qué comprar con nosotros? -------------------*/
/*.contenedor_comprar{
    background-color: var(--orange);
    -webkit-box-shadow: 22px 34px 12px 25px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 34px 12px 25px rgba(0,0,0,0.75);
    box-shadow: 22px 34px 12px 25px rgba(0,0,0,0.75);
    border-radius:6%;
}*/

.comprar__titulo{
    margin-top: 5rem;
    font-size: 2rem;
    color: var(--orange); 
    text-align: center;
}

@media (min-width: 768px){
    .comprar__titulo{
        margin-left: 14rem;
        font-size: 2.5rem;
        color: var(--orange);
        text-align: center;
        margin-bottom: 5rem;
    }
}

/*------------------------------------ BLOQUES --------------------------------*/

.bloques{
    display: grid; /* Para repartir en dos y luego 4*/
    grid-template-columns: repeat(2, 1fr); /* Hacemos dos columnas */
    gap: 2rem; /* Crea separación entre los bloques de columnas*/
}

@media (min-width: 768px){
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque{
    text-align: center;
}

.bloque__imagen{
    width: 100%;
    align-items: center;
}

.bloque__titulo{
    margin: 0;/* Quita la separación entre titulos*/
    color: var(--orange);
}

.bloque__contenido{
    color: var(--white);
    text-align: center;
}

/*---------------------- COMENZANDO CON PAQUETES Y OFERTAS ----------------------*/

/*-------------------------- imagen de fondo --------------------------*/
.ofertas{
    background-color: var(--black);
}